<!doctype html>
<html>
<head>
	<meta charset="UTF-8">


	<title> Order-gami </title>

</head>
<body>


	<h1> I DID <kbd>IT</kbd> HECTOR!!! </h1>



	<div class="container">
		<div class= "jumbotron">


		</div>
	</div>



	<img id="keep-calm" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR48ZoofoCY7nPjhiZcRPVI3kXEJo0mJs91cj-W_z9UyBNV3LMS9w">


	<%= us  %> 









</body>
</html>