<!doctype html>
<html>
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- for responsive sizing on mobile -->

	<title> Order-gami </title>

	<!-- add bootstrap -->
<<<<<<< HEAD
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- stylesheet for page -->
	<link rel="stylesheet" text="text/css" href="/stylesheets/homepage.css">
=======
>>>>>>> bfe8ca35bc24eaa328c23bd90a63987569796d34

</head>
<body>

<div class="header">





</div>


	<h1> I DID <kbd>IT</kbd> HECTOR!!! </h1>



	<div class="container">
		<div class= "jumbotron">


		</div>
	</div>



	<img id="keep-calm" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR48ZoofoCY7nPjhiZcRPVI3kXEJo0mJs91cj-W_z9UyBNV3LMS9w">


	<%= us  %>


<li><a href="/">TEST</a> </li>
<li><a href="/origami_library">TEST2</a> </li>






</body>
</html>
