.header {
	border-bottom: 2px solid black;
	height: 300px;
}

.container .jumbotron {
	
	background-size: cover;
	background-position: center center;
}

#keep-calm {
	margin-left: auto;
	margin-right: auto;
}